.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .introText{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Raleway', sans-serif;
    }
}